body {
    font-family: 'Raleway', sans-serif;
    background: rgba(242, 242, 242, .6);
    margin: 0;
  }
  
  * {
    box-sizing: border-box
  }
  
  .navbar {
    background-color: #31b0d5;
    position: fixed; 
    top: 0; 
    width: 100%; 
    display: flex;
    justify-content: center;
  }
  
  .navbar a {
    font-weight: 200;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .anchor {
    display: block;
    position: relative;
    top: -70px;
    visibility: hidden;
  }

  .jumbotron {
    height: 100vh;
    background: #31b0d5;
    margin-bottom: 0; 
  
    display: flex;
    flex-direction: column;
  }
  
  .jumbotron-text {
    font-weight: 400;
    font-size: 2em;
    color: white;
    text-align: center;
    padding-top: 150px;
  }
  
  .jumbotron-text h1 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 3em;
    margin-bottom: 0;
  }
  
  .jumbotron-text p {
    margin: 0;
  }
 
  .ul-social {
    text-align: center;
    padding-left: 0;
  }
  
  .li-social-links {
    display: inline-block;
    list-style: none;
  }
  
  .social {
    font-size: 2em;
    color: white;
    padding: 20px;
  }

  #down-arrow {
    margin-top: auto;
    text-align: center;
    margin-bottom: 50px;
  }
  
  #down-arrow a {
    color: white;
  }
  
  .container {
    display: flex;
    flex-direction: column;
  }
  
  .row {
    display: flex;
  }
  
  .white {
    background: white;
  }
  
  .side-content {
    flex: 0 0 16.6%;
  }
  
  .main-content {
    flex: 0 0 66.6%;
    margin-top: 2rem;
    margin-bottom: 3rem;
  }
  
  .side-content-sm {
    flex: 0 0 10%;
  }
  
  .main-content-lg {
    flex: 0 0 80%;
    margin-top: 2rem;
    margin-bottom: 3rem;
  }
  
  .box-shadow {
    -webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
  }
  
  h2 {
    font-weight: 200;
    font-size: 2rem;
    color: #31b0d5;
    text-transform: uppercase;
    text-align: center;
  }
  
  .content-body {
    line-height: 1.5;
    color: rgba(0,0,0,.75);
  }

  .card {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin-bottom: 30px;
  }
  
  .card-header {
    padding: .75rem 1.25rem;
    background-color: white;
    border-bottom: 1px solid rgba(0,0,0,.075);
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
  }
  
  .card-content {
    padding: .25rem 1.25rem;
    flex: 1 1 auto;
  }
  
  h4 {
    margin: 0;
    font-weight: 400;
    color: grey;
  }
  
  .job-title {
    float: right;
  }
  
  .project-image img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:50%;
    height:50%;
  }

  .click-here{
    color:blue;
    text-decoration:none;
  }

  input[type=email], select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  textarea[name=message], select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }


button[type=submit] {
  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-17 {
  margin: 0;
  position: absolute;
  top: 75%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  align-items: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  /*position: relative;*/
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

.button-17:hover {
  background: #F6F9FE;
  color: #174ea6;
}

.button-17:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.button-17:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.button-17:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.button-17:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.button-17:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}